@model IEnumerable<IO_Helados.Models.Dem_Hel>

@{
    ViewBag.Title = "index";
}
<div style="padding-top:100px"><h2>Lista de Dem_Hel</h2></div>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table style="background-color:white" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idRestr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Helados_a_producir)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idRestr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Helados_a_producir)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.idRestr  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.idRestr }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.idRestr })
        </td>
    </tr>
}

</table>
